<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webrotate360adhoc>
            <general>
                <enabled>1</enabled>
                <viewer_width>100%</viewer_width>
                <viewer_height>450px</viewer_height>
                <viewer_skin>basic</viewer_skin>
                <base_width></base_width>
                <min_height></min_height>
                <pretty_theme>default</pretty_theme>
                <popup_icon></popup_icon>
                <popup_mode>lightbox</popup_mode>
                <embedded>1</embedded>
                <placeholder></placeholder>
            </general>
            <advanced>
                <master_config></master_config>
                <license></license>
                <api_callback></api_callback>
                <use_analytics>0</use_analytics>
            </advanced>
        </webrotate360adhoc>
    </default>
</config>